body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.footer {
    margin-top: 20px;
    font-size: 0.9em;
}

.client-info, .seller-info {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    background-color: rgba(255, 255, 255, 1);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

h2 {
    color: #333;
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

label {
    display: block;
    color: #555;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], input[type="date"], select {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #d1d5da;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="date"]:focus, select:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    width: 100%;
    padding: 12px 15px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
#page {
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    height: 296.7mm;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    page-break-after: always;
    background-size: cover;
    background-position: center;
}

#top-page {
    margin:0;
    padding:0;
    flex: 1;
    display: flex;
    width: 100%;
    height: 277mm;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}

#top-top-page {
    display: flex;
    justify-content: center;
    padding:10px;
    height:40%;
    align-items: center;
}

#logo {
    margin-top: 40px;
    display: flex;
    align-self: center;
    justify-content: center;
    max-width: 500px;
    height: auto;
}

#top-bottom-page {
    margin-top: 440px;
    display: flex;
    height:50%;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 50px;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    transform: perspective(500px) rotateY(10deg);
}

#bottom-page {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, black, rgb(89, 0, 0));
    padding: 60px;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-size: 1em;
}

#bottom-top-left, #bottom-top-right, #bottom-bottom-left, #bottom-bottom-right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1.2em;
}
#table {
    width: 100%;
    height: 50%;
    border-collapse: collapse; /* Usuwa podwójne obramowania */
    text-align: center;
}

#table td, .table th {
    text-align: center; /* Wyśrodkowanie tekstu w poziomie */
    vertical-align: middle; /* Wyśrodkowanie tekstu w pionie */
    border: 1px solid black; /* Obramowanie dla komórek */
    padding: 10px; /* Odstęp wewnątrz komórek */
}

/* Resetowanie domyślnych marginesów i paddingów dla tabeli */
#table, .table tr, .table td, .table th {
    text-align: center;
    margin: 0;
    padding: 0;
}

#page-second {
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    height: 277mm;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    justify-content: top;
    align-items: center;
    page-break-after: always;
    background-size: cover;
}

#price {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 800;
    color:#720404;
}


additional-options-table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Dodajemy odstęp od poprzedniego elementu */
}

#additional-options-table th, .additional-options-table td {
    border: 2px solid black;
    padding: 8px 12px;
    text-align: center;
}

#additional-options-table th {
    background-color: #f2f2f2;
}
#Dodatek {
   display: flex;
   color: rgb(255, 255, 255);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#page-third {
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    height: 277mm;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    justify-content: top;
    align-items: center;
    page-break-after: always;
    background-size: cover;
}

#page-third {
    padding: 20px; /* Dodajemy padding do kontenera, aby elementy miały trochę przestrzeni wokół siebie */
}

#header {
    margin-bottom: 20px; /* Dodajemy margines poniżej nagłówka, aby oddzielić go od tabeli */
}

#table-container {
    margin-bottom: 20px; /* Dodajemy margines poniżej tabeli, aby oddzielić ją od dopisku z uwagą */
}

#opcje-dodatkowe {
    margin-bottom: 20px; /* Dodajemy margines poniżej dopisku z uwagą, aby oddzielić go od przydatnych linków */
    text-align: center;
    background-color: rgb(138, 0, 0);
    color:rgb(0, 24, 244);
}

#useful-links a {
    display: block; /* Każdy link będzie wyświetlany w nowej linii */
    margin-bottom: 10px; /* Dodajemy margines poniżej każdego linku */
    text-align: center;
    margin: auto;
    font-size: 20px;
    text-decoration:none;
    color: #781212;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 5px;
}

#social-media-links {
    margin-top: 20px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px; /* Możesz dostosować szerokość w zależności od potrzeb */
}

#social-media-links a {
    display: flex;
    color: #8e0000; /* Kolor ikon. Możesz dostosować według potrzeb */
    font-size: 32px; /* Rozmiar ikon. Możesz dostosować według potrzeb */
    transition: color 0.3s; /* Efekt przejścia dla koloru ikon */
    text-align:center;
    justify-content: center;
    align-self: center;
    margin-bottom: 5px;
}

a i.fas {
     /* Dodaje odstęp między tekstem a ikoną */
    color: #960303; /* Kolor ikony. Możesz dostosować według potrzeb */
    transition: color 0.3s; /* Efekt przejścia dla koloru ikony */
}

a:hover i.fas {
    color: #333; /* Kolor ikony po najechaniu. Możesz dostosować według potrzeb */
}
#meet {
    text-align: center;
    color:black;
}

    /* Styl dla tabeli o id "kamanTable" */
    #kamanTable {
        width: 100%;
        border-collapse: collapse;
        font-family: 'Arial', sans-serif;
        margin: 20px 0;
    }

    #kamanTable th {
        background-color: #781212;
        color: white;
        padding: 10px;
        text-align: center;
    }

    #kamanTable td {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    #kamanTable td:nth-child(4) {
        background-color: #781212;
        font-weight: bold;
        color:white;
    }

    #kamanTable tr:hover {
        background-color: #f5f5f5;
    }
    @page {
        margin: 0;
    }
    

span #number {
    margin-top: 10px;
    color: gold;
    text-align: center;
}
span #client-name {
    color: rgb(229, 229, 229);
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
}
#customTable {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

#customTable th, #customTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#customTable th {
    background-color: #781212;
    color: white;
}

#customTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customTable tr:hover {
    background-color: #ddd;
}

#customTable td {
    font-size: 14px;
}
select {
    width: 200px;
    margin: 10px;
  }

  #offer-number {
    display:block;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: white;
}
/* Styl dla formularza oferty */
.form-container {
    position: absolute;
    top: 50%;
    left: 15%; /* Dostosuj, aby uniknąć nachodzenia */
    transform: translateY(-50%);
    z-index: 5; /* Ustawienie niższej wartości z-index, aby formularz był pod drugim formularzem */
    width: 400px; /* Dostosuj szerokość */
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 8px;
    /* Pozostałe style pozostają bez zmian */
}

/* Styl dla formularza fotowoltaiki */
.photovoltaics-generator {
    position: absolute;
    top: 50%; /* Adjust as per layout */
    left: 52%; /* Adjust as per layout */
    width: 400px; /* Adjust as per layout */
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 8px;
    z-index: 10;
    /* Pozostałe style pozostają bez zmian */
}

/* Styl wspólny dla obu formularzy */
.form-container .input-group,
.photovoltaics-generator .input-group {
    margin-bottom: 15px;
}

.form-container .input-group label,
.photovoltaics-generator .input-group label {
    display: block;
    margin-bottom: 5px;
}

.form-container .input-group input,
.photovoltaics-generator .input-group input,
.form-container .input-group select,
.photovoltaics-generator .input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Reszta stylów dla suwaka, buttonów itp. */
/* ... */

#pricePVPDF {
    align-self: center;
    justify-content: start;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 800;
    color:#7b0000;
    padding-bottom: 720px;
    padding-left: 150px;
}

#page-second-price {
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    height: 277mm;
    width: 100%;
    justify-content: top;
    align-items: start;
    page-break-after: always;
    background-size: cover;
}
#page-last {
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    height: 280mm;
    width: 100%;
    justify-content: top;
    align-items: start;
    background-size: cover;
    background-color: black;
}    
#page-meet {
    page-break-after:always;
    height: 277mm;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}







